body {
  background-color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: #222;
  padding: 20px;
  text-align: center;
  background-color: #e5e5f7;
  opacity: 1;
  background-image:  linear-gradient(#e6eef0 0.8px, transparent 0.8px), linear-gradient(to right, #e6eef0 0.8px, #ffffff 0.8px);
  background-size: 16px 16px;
}

h1 {
  margin: 3svh 0;
  font-size: 1.5em;
}

p {
  margin: 0.2em;
}

.container {
  display: grid;
  place-items: center;
  height: 65svh;
  margin: 30px 0 100svh 0;
  gap: 1svh;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  color: #ffffff;
}

.thing {
  display: grid;
  place-items: center;
  height: 70px;
  width: 300px;
  background-color: coral;
  transition: all 1s ease-out;
  cursor: move;
  cursor: grab;
  text-align: center;
  user-select: none;
  box-shadow: 0 0 20px 0px #00000066;
}

.thing.moving {
  transition: none;
  cursor: grabbing;
}

.thing.canceled {
  background-color: crimson;
}